<header>
  <button
  tuiButton
  type="button"
  size="s"
  appearance="secondary" (click)="openAll()">Перевернуть все</button>
  <button
  tuiButton
  type="button"
  size="s"
  appearance="accent" (click)="toggleAdd()">Добавить</button>

</header>
<main>
  <app-dictionary-add *ngIf="isAdd"
                      (addAction)="addCard($event)"
                      (cancelAction)="toggleAdd()">
  </app-dictionary-add>
  <div class="card-list">
    <app-dictionary-card *ngFor="let p of cardService.cards"
                          [card]="p"
                          [isOpen]="dictionary.get(p.id)===true"
                          (turnAction)="changeOpen($event)"
                          (deleteAction)="deleteCard($event)">
    </app-dictionary-card>
  </div>
</main>
